@-moz-document domain("debian.org") {
/* Userstyle for Debian.org. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo /*
/* Version 1.0 03/10/2016 13:18*/

body {
	background-color: #272727;
	border: 40px solid #272727;
	color: #cc0e15;
}

body > div.book, body > div.article, body > div.set, body > div.preface, body > div.chapter, body > div.section, body > div.appendix, body > div.part, body > div.index {
	background-color: #2d2d2d;
}

h1, h2, h3, h4, h5, h6 {
	color: #C70036;
}

a:visited {
	color: #923eff !important;
	text-decoration: none;
}
a:link {
	color: rgb(25, 87, 255);
	text-decoration: none;
}

/* ---Code Snippets--- */
pre.screen {
	background-color: #585858;
	box-shadow: 0 2px 5px rgba(138, 138, 138, 0.88) inset;
	color: #ffffff;
}

.navfooter > table, .navheader > table {
	background-image: url(https://i.imgur.com/pjmaKEc.png);
}

/* ---------General Website Tweaks---------*/

/* ---date--- */
tt, code {
	font-family: monospace;
	/* white-space: pre; */
	color: #9c9c9c;
}

#breadcrumbs {
	background-color: rgba(255, 255, 255, 0);
	border-bottom: 1px solid #c11e25;
}

#header {
	background-color: #272727;
}

#navbar a:hover, #navbar a:visited:hover {
	background-color: rgba(74, 74, 74, 0);
	border-left: 0px solid #d2d3d7;
	border-right: 0px solid #d2d3d7;
	color: #cc1b23;
}

#footer {
	border: 1px solid #c11e25;
	background-color: #272727;
}

#footer hr {
	border-top: 1px solid #c11e25;
	border-bottom: 1px solid #c11e25;
}

hr {
	background-color: #c11e25;
}

.toc a:hover {
	background-color: #272727;
	color: #cc1b23;
}

#rightcolumn {
	background: #333333;
}
}